*.ipynb_checkpoints
galaxies-images/.DS_Store
*.DS_Store
data/photo_z/._df_for_32x32_images.csv
data/photo_z/df_for_32x32_images.csv
data/photo_z/downloadData.sh
data/photo_z/galaxy_images_32x32_all.npy
galaxies-images/.idea/galaxies-images.iml
galaxies-images/.idea/inspectionProfiles/profiles_settings.xml
galaxies-images/.idea/inspectionProfiles/Project_Default.xml
galaxies-images/.idea/misc.xml
galaxies-images/.idea/modules.xml
galaxies-images/.ipynb_checkpoints/poetry-checkpoint.lock
galaxies-images/.ipynb_checkpoints/pyproject-checkpoint.toml
galaxies-images/poetry.lock
galaxies-images/pyproject.toml
galaxies-images/src/.ipynb_checkpoints/dataset_lookup-checkpoint.ipynb
galaxies-images/src/dataset_lookup.ipynb
galaxies-images/src/load_csv.py
src/.ipynb_checkpoints/dataset_lookup-checkpoint.ipynb
src/load_csv.py
